# Visual Studio

*.user
*.suo

# Build folders
bin/
obj/
.vs/

# EF Core
Migrations/

# Config
appsettings.Development.json
appsettings.json

# Logs
*.log

# Rider
.idea/

# xUnit testresultaten (handig bij CI-tools)
TestResults/
*.coverage

# VSCode gebruikersinstellingen
.vscode/

# NuGet pakketten lokaal
*.nupkg
*.snupkg
packages/

# Others
*.db
